*{
  margin: 0px;
  padding:0px;
  font-family: Arial;
}

/* Navbar */

.navbar{
  width:100%;
  height:70px;
  background-color: black;
}

.nav-logo{
  height:29px;
  width:29px;
  background-color: #8F00FF;
  color:white;
  font-weight:900;
  font-size:1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  margin-left: 20px;
}

.nav-text{
  height:29px;
  width:120px;
  color:white;
  font-size: 1rem;
  font-weight: 600;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-left{
  display: flex;
  align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.nav-right{
  height:60px;
  width:500px;
  color:white;
  display:flex;
  margin-right: 40px;
  align-items: center;
  justify-content: space-between;
}

.nav-list:hover{
  border:2px solid #8500ff;
}

.nav-list{
  color:white;
  text-decoration:none;
  font-size:1rem;
  padding:4px 5px;
}

.material-symbols-outlined{
  background-color: #8500ff;
  color:yellow;
}

/* Main Section */

.main-style{
  display: inline;
  color:black;
  font-style:arial;
  font-size:7rem;
  font-weight: 900;
  color:white;
  margin-left: 25px;
}

.main-heading{
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading2{
  color: #A020F0;
}

.heading3{
  color: #800080;
  margin-top:10px;
}

.content-text1{
  color:#ffffff;
  margin-top:20px;
  font-size: 1.4rem;
}

.content-text2{
  color:rgba(255, 255, 255,0.6);
  margin-top:20px;
  font-size:1.6rem;
  font-weight: 400;
}

.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:200px;
  padding: 0;
}

/* Button */

.learnbutton{
  color: white;
  font-size:1.7rem;
  height:70px;
  width:390px;
  background-color: rgba(128, 0, 255,0.18)
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: ;
  box-shadow: 0 0 18px rgba(160, 32, 240, 0.25); 
  border: 1px solid rgba(160, 32, 240, 0.35);
  padding: 10px 15px;
  cursor: pointer;
}

.main-anchor{
  display: block;
  width: fit-content;
  margin: 50px auto 0 auto;
  text-decoration: none;
}

.main-anchor i{
  font-style:italic;
  font-weight: 900;
  margin-right: 10px;
}

.b-style{
  height:40px;
  width:240px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin:30px;
  color:white;
  cursor: pointer;
  background: rgba(128, 0, 255, 0.18);
  color:#e6d6ff;
 box-shadow: 0 0 18px rgba(160, 32, 240, 0.25);
  border: 1px solid rgba(160, 32, 240, 0.35);
}

.b-style i {
  margin-right: 6px;
  font-style: 1rem;
  opacity: 0.9;
}

.button{
  width: 100%;
  display:flex;
  justify-content: center;
  margin: 25px auto 0 auto;
}

.button-anchor{
  text-decoration:none;
  cursor:pointer;
  display:block;
  width:fit-content;
}

/* Body Section */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #050505;
  background-image: 
    radial-gradient(circle at center, rgba(111, 44, 242, 0.15) 0%, transparent 70%),
    radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100% 100%, 30px 30px; 
  background-attachment: fixed;
  color: white;
  font-family:Sans-Serif;
  display: flex;
  flex-direction:column;
  align-items: space-between;
}

/* Footer */

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
  font-weight:700;
  color:#e6d6ff;
  font-family: italic;
  background-color: black;
  width:100%;
  height: 100px;
  position:fixed;
  bottom:0;
  box-shadow: 0 0 18px rgba(160, 32, 240, 0.25);
  border: 1px solid rgba(160, 32, 240, 0.35);
  
}

.foot-anchor{
  color:#e6d6ff;
  font-size: 1.7rem;
  font-family: italic;
  box-shadow: 0 0 15px rgba(160, 32, 240, 0.25);
  padding: 10px 15px;
}

.foot-anchor:hover{
  border:2px solid #8500ff;
}